@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#0000CD 94%,#0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
    }

    @keyframes s3{ 
    100%{transform: rotate(1turn)}
    }

    .custom-loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 16px solid #0000;
        border-right-color: #766DF497;
        position: relative;
        animation: s4 1s infinite linear;
      }
      .custom-loader:before,
      .custom-loader:after {
        content: "";
        position: absolute;
        inset:-16px;
        border-radius: 50%;
        border:inherit;
        animation:inherit;
        animation-duration: 2s;
      }
      .custom-loader:after {
        animation-duration: 4s;
      }
      
      @keyframes s4 {
        100% {transform: rotate(1turn)}
      }

.editComment {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    resize: none; 
    overflow: hidden;
}    

.loading-comment {
    width:50px;
    height:12px;
    background: radial-gradient(circle closest-side,#766DF4 90%,#0000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation:d1 1s steps(4) infinite;
    }
    
    @keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}


.cards {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}