@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#0000CD 94%,#0000) top/16px 16px no-repeat,
    conic-gradient(#0000 30%,#766DF4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
    }

    @keyframes s3{ 
    100%{transform: rotate(1turn)}
    }

    